#  Tuple creation

In [1]:
t = (1, 2, 3)
print(t)  # (1, 2, 3)

(1, 2, 3)

#   Single-element tuple (edge case)

In [2]:
t = (1,)  # comma is required
print(type(t))  # <class 'tuple'>

<class 'tuple'>

# Not a tuple (no comma)

In [3]:
t = (1)
print(type(t))  # <class 'int'>, not a tuple

<class 'int'>

# Empty tuple

In [4]:
t = ()
print(type(t))  # <class 'tuple'>

<class 'tuple'>

# Tuple with mixed types

In [5]:
t = (1, "hello", 3.14, True)
print(t)  # (1, 'hello', 3.14, True)

(1, 'hello', 3.14, True)

# Tuple unpacking

In [32]:
a, b, c = (10, 20, 30)
print(a, b, c)  # 10 20 30

10 20 30

# Unpacking with fewer variables

In [33]:
a, b = (1, 2, 3, 4)  # ValueError: too many values to unpack

ValueError: too many values to unpack (expected 2)

# Tuple in function return

In [8]:
def get_user():
    return ("Alihan", 24)

name, age = get_user()
print(name, age)  # Alihan 24

Alihan 24

# Tuples are immutable

In [9]:
t = (1, 2, 3)
# t[0] = 100  # TypeError: 'tuple' object does not support item assignment

# Tuples can contain mutable objects

In [10]:
t = ([1, 2], 3)
t[0].append(4)
print(t)  # ([1, 2, 4], 3)

([1, 2, 4], 3)

# Tuple as dictionary key (hashable)

In [11]:
d = { (1, 2): "value" }
print(d[(1, 2)])  # "value"

value

# Unhashable tuple (contains list)

In [36]:
# t = ([1, 2], 3)
# d = {t: "fail"}  # TypeError: unhashable type: 'list'

TypeError: unhashable type: 'list'

# Tuple concatenation

In [13]:
a = (1, 2)
b = (3, 4)
print(a + b)  # (1, 2, 3, 4)

(1, 2, 3, 4)

# Tuple repetition

In [37]:
t = (1, 2)
print(t * 7)  # (1, 2, 1, 2, 1, 2)

(1, 2, 1, 2, 1, 2, 1, 2, 1, 2, 1, 2, 1, 2)

# Nested tuples

In [15]:
t = ((1, 2), (3, 4))
print(t[0][1])  # 2

2

# Tuple slicing

In [16]:
t = (0, 1, 2, 3, 4)
print(t[1:4])  # (1, 2, 3)

(1, 2, 3)

# Tuple length

In [17]:
t = (1, 2, 3)
print(len(t))  # 3

3

# Membership test with 'in'

In [18]:
t = (1, 2, 3)
print(2 in t)  # True
print(4 in t)  # False

True
False

# Iterating over tuple

In [19]:
t = ('a', 'b', 'c')
for i in t:
    print(i)

a
b
c

# Tuple comprehension using generator

In [20]:
gen = tuple(x for x in range(3))
print(gen)  # (0, 1, 2)

(0, 1, 2)

# Swapping values using tuple unpacking

In [21]:
a, b = 1, 2
a, b = b, a
print(a, b)  # 2, 1

2 1

# Tuple used for fixed return values

In [22]:
def stats(numbers):
    return (min(numbers), max(numbers), sum(numbers))

mi, ma, su = stats([5, 7, 3])
print(mi, ma, su)  # 3 7 15

3 7 15

# Starred unpacking in tuple

In [39]:
a, b, *c = (1, 2, 3, 4, 5)
print(a, b, c)  # 1 [2, 3, 4] 5

1 2 [3, 4, 5]

# Tuple with zip()

In [24]:
names = ("Ali", "Yahya")
ages = (24, 26)
for n, a in zip(names, ages):
    print(f"{n} is {a}")

Ali is 24
Yahya is 26

# Tuple with enumerate()

In [25]:
t = ('x', 'y', 'z')
for i, val in enumerate(t):
    print(i, val)

0 x
1 y
2 z

# Tuple as default function argument

In [26]:
def f(items=(1, 2)):
    return items

print(f())  # (1, 2)

(1, 2)

# Tuple comparison behavior

In [27]:
print((1, 2) < (1, 3))  # True
print((1, 2) > (0, 99))  # True

True
True

# Memory size: tuple vs list

In [40]:
from sys import getsizeof

print(getsizeof((1, 2, 3, 4, 5)))  # Smaller memory than list
print(getsizeof([1, 2, 3, 4, 5]))  # Larger memory than tuple

80
104

# Performance: tuple vs list in loop

In [29]:
import timeit

print(timeit.timeit("for _ in (1,2,3): pass", number=1000000))
print(timeit.timeit("for _ in [1,2,3]: pass", number=1000000))

0.0561275000218302
0.0559470999869518

# Nested tuple unpacking

In [30]:
t = ((1, 2), (3, 4))
(a1, a2), (b1, b2) = t
print(a1, b2)  # 1 4

1 4